h2 {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  color: #272142;
  text-align: center;
  padding-top: 150px;
}
h1 {
  font-family: "Playfair Display", serif;
  font-size: 96px;
  font-weight: 700;
  line-height: 115px;
  color: black;
  text-align: center;
}
h3 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 48px;
  color: black;
  text-align: center;
}
div {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  background-color: #6c63ff;
  border: none;
  text-align: center;
  padding: 20px 20px;
  display: inline-block;

  cursor: pointer;
  color: white;
}
a {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
}
a:hover {
  color: blue;
}
